@import "tailwindcss";

@theme {
  --color-bg: #1A1A1A;
  --color-surface: #2F2F2F;
  --color-primary: #3B82F6;
  --color-text-main: #FFFFFF;
  --color-text-muted: #A3A3A3;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: #1A1A1A;
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  * {
    box-sizing: border-box;
  }
}
